#pic{
	float: left;
	
}

#logo{
	text-align: center;
	color: #000000;
    background-color: 	#add8e6;
    padding-bottom: 10px;
    padding-top: 10px;
}
#quote{
	text-align: center;
	text-indent: 500px;
	font-size: 15px;
	font-style: italic;
	font-family: serif;
}
#llinks{
	margin-left: 100px
}
a{
	padding: 10px 90px 10px 50px;
	margin-left: 10%;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	border-radius: 15px 15px 15px 15px;
	background-color: #add8e6;


}




.box{
	width: 357px;
    
  font-size: 16px;
  text-align: left;
  display: inline-block;
}
#search_text {
  width: 45%;

  padding: 15px 60px 15px 20px;
  font-size: 100%;
  font-family: Montserrat, sans-serif;
  border-radius: 15px 15px 15px 15px;
  height: 52px;
  margin-left: 27%;
  color: black;
  margin-top: 80px;
  
  
  
  box-sizing: border-box;
  transition: all 0.15s;
}
#searchButton{

    width: 11%;
    height: 52px;
    border-radius: 15px 15px 15px 15px;
    
	margin-top: 80px ;
}
section{
	padding-top: 5px;
	padding-bottom: 5px;

}
#bg{
	max-width: 100%;
  height: auto;

}

  